<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beike.platform.mapper.RiskMapper">

    <select id="selectPageWithFilter" resultType="com.beike.platform.entity.Risk">
        SELECT * FROM biz_risk
        <where>
            <if test="dto.keyword != null and dto.keyword != ''">
                AND (type LIKE CONCAT('%', #{dto.keyword}, '%')
                     OR description LIKE CONCAT('%', #{dto.keyword}, '%')
                     OR solution LIKE CONCAT('%', #{dto.keyword}, '%'))
            </if>
            <if test="dto.level != null and dto.level != ''">
                AND `level` = #{dto.level}
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND status = #{dto.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
