[mysqld]
server-id = 1
log-bin = mysql-bin
binlog_format = ROW
binlog_row_image = FULL
binlog_cache_size = 1M
max_binlog_size = 256M
expire_logs_days = 7
sync_binlog = 1
innodb_flush_log_at_trx_commit = 1

gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default_authentication_plugin = caching_sha2_password

max_connections = 500
innodb_buffer_pool_size = 512M
innodb_log_file_size = 128M
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
