<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beike.platform.mapper.TalentMapper">

    <select id="selectPageWithFilter" resultType="com.beike.platform.entity.Talent">
        SELECT * FROM biz_talent
        <where>
            <if test="dto.keyword != null and dto.keyword != ''">
                AND (name LIKE CONCAT('%', #{dto.keyword}, '%')
                     OR role LIKE CONCAT('%', #{dto.keyword}, '%')
                     OR skills LIKE CONCAT('%', #{dto.keyword}, '%'))
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND status = #{dto.status}
            </if>
            <if test="dto.talentType != null and dto.talentType != ''">
                AND talent_type = #{dto.talentType}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
